# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Lib (individual users should install based on foundry.toml)
lib/

# Dotenv file
.env

.DS_Store